---
import Layout, { defaultRoot } from '../layouts/Layout.astro'
const root = defaultRoot // 任意のパスを設定してrootを上書きできます

// ページ情報
const page = {
  type: 'home', // home | page | single
}

// SEO・metaタグ関連
const seo = {
  // title: 'ページタイトル', // 必須
  titleTag: 'Astro静的ページテンプレート', // 必要あれば（タイトルタグ上書き）
  // description: 'ディスクリプション', // 必要あれば
  // keywords: 'キーワード1,キーワード2', // 必要あれば
  // ogURL: '', // 必要あれば（基本自動出力）
  // ogType: '', // 必要あれば（基本自動出力）
  // ogImage: '', // 必要あれば（基本自動出力）
  // ogLocale: '', // 必要あれば（基本自動出力）
}

// ヒーローコンポーネントに渡すprops
const hero = {
  parentTitle: '親カテゴリー',
  mainTitle: 'メインタイトル',
  subTitle: 'サブタイトル',
}
---

<Layout page={page} seo={seo} hero={hero} root={root}>
  <main>
    <details class="c-details c-container c-container--large">
      <summary class="c-details__summary"> 開閉ボタン（summary）</summary>
      <div class="c-details__content">
        <p>あいうえお</p>

        <ul>
          <li><a href="/">リンク要素</a></li>
        </ul>
      </div>
    </details>

    <a href={root}>ルート{root}</a>

    <div class="u-bg-theme u-h-200 M:u-h-400 u-color-theme-primary">ああ<sup>あ</sup></div>

    <svg width="16" height="16" class="c-icon" aria-hidden="true"><use xlink:href={`#i-facebook-circle`}></use></svg>
    <svg width="16" height="16" class="c-icon" aria-hidden="true"><use xlink:href={`#i-favicon`}></use></svg>
    <svg width="16" height="16" class="c-icon" aria-hidden="true"><use xlink:href={`${root}assets/svg/sprite.svg#i-favicon`}></use></svg>
    <svg width="16" height="16" class="c-icon" aria-hidden="true"><use xlink:href={`${root}assets/svg/sprite.svg#i-share`}></use></svg>

    <div class="c-flex-wrap">
      <div class="c-flex c-flex--y25_ L:c-flex--y0 M:c-flex--x15 L:c-flex--x50">
        <div class="u-w-full M:u-w-4/12">
          <div class="u-bg-theme u-h-50 u-w-full"></div>
        </div>
        <div class="u-w-full M:u-w-4/12">
          <div class="u-bg-theme-primary u-h-50 u-w-full"></div>
        </div>
        <div class="u-w-full M:u-w-4/12">
          <div class="u-bg-theme-secondary u-h-50 u-w-full"></div>
        </div>
      </div>
    </div>
  </main>
</Layout>
