---
import Layout, { defaultRoot } from '../layouts/Layout.astro'
const root = defaultRoot // 任意のパスを設定してrootを上書きできます

// ページ情報
const page = {
  type: 'home' // home | page | single
}

// SEO・metaタグ関連
const seo = {
  // title: 'ページタイトル', // 必須
  titleTag: 'Astro静的ページテンプレート', // 必要あれば（タイトルタグ上書き）
  // description: 'ディスクリプション', // 必要あれば
  // keywords: 'キーワード1,キーワード2', // 必要あれば
  // ogURL: '', // 必要あれば（基本自動出力）
  // ogType: '', // 必要あれば（基本自動出力）
  // ogImage: '', // 必要あれば（基本自動出力）
  // ogLocale: '', // 必要あれば（基本自動出力）
}

// ヒーローコンポーネントに渡すprops
const hero = {
  parentTitle: '親カテゴリー',
  mainTitle: 'メインタイトル',
  subTitle: 'サブタイトル',
}
---

<Layout page={page} seo={seo} hero={hero} root={root}>
  <main>
    <details class="c-details">
      <summary class="c-details__summary"> 開閉ボタン（summary）</summary>
      <div class="c-details__content">
        <p>
          あいうえお
        </p>

        <ul>
          <li><a href="/">リンク要素</a></li>
        </ul>
      </div>
    </details>

    <a href={root}>ルート{root}</a>

    <div class="js-tab" data-logic="tab-root">
      <select data-logic="tab-select">
        <option label="タブ A" value="#a">タブ A</option>
        <option label="タブ B" value="#b">タブ B</option>
        <option label="タブ C" value="#c">タブ C</option>
        <option label="タブ D" value="#d">タブ D</option>
      </select>

      <ul data-logic="tab-tablist" aria-label="タブ">
        <li role="none presentation">
          <button data-logic="tab" data-logic-href="#a" id="tab-a" type="button">タブ A</button>
        </li>
        <li role="none presentation">
          <button data-logic="tab" data-logic-href="#b" id="tab-b" type="button" class="is-active">タブ B</button>
        </li>
        <li role="none presentation">
          <button data-logic="tab" data-logic-href="#c" id="tab-c" type="button">タブ C</button>
        </li>
        <li role="none presentation">
          <button data-logic="tab" data-logic-href="#d" id="tab-d" type="button">タブ D</button>
        </li>
      </ul>

      <div data-logic="contents">
        <div data-logic="tab-panel" id="a">
          <div>
            <p>
              吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を
            </p>
          </div>
        </div>
        <div data-logic="tab-panel" id="b">タブパネル B</div>
        <div data-logic="tab-panel" id="c">タブパネル C</div>
        <div data-logic="tab-panel" id="d">タブパネル D</div>
      </div>
    </div>
  </main>
</Layout>
