---
import Layout, { defaultRoot } from '../layouts/Layout.astro'
const root = defaultRoot // 任意のパスを設定してrootを上書きできます

// ページ情報
const page = {
  type: 'home', // home | page | single
  sub: false, // サブエリアの追加
}

// SEO・metaタグ関連
const seo = {
  // title: 'ページタイトル', // 基本必須（titleTagが有線される）
  titleTag: 'Astro静的ページテンプレート', // 必要あれば（タイトルタグ上書き）
  description: 'ディスクリプション', // 必要あれば
  // keywords: 'キーワード1,キーワード2', // 必要あれば
  // ogURL: '', // 必要あれば（基本自動出力）
  // ogType: '', // 必要あれば（基本自動出力）
  // ogImage: '', // 必要あれば（基本自動出力）
  // ogLocale: '', // 必要あれば（基本自動出力）
}

// ヒーローコンポーネントに渡すprops
const hero = {
  parentTitle: '親カテゴリー',
  mainTitle: 'メインタイトル',
  subTitle: 'サブタイトル',
}

// 【仕様未確定】パンくずリスト false || true || [{href: '/', label: 'ホーム'}, ...]
const breadcrumbs = true
---

<Layout page={page} seo={seo} hero={hero} root={root} breadcrumbs={breadcrumbs}>
  <a href={`${root}`}>ルート</a>
  <details class="c-details c-container c-container--large">
    <summary class="c-details__summary"> 開閉ボタン（summary）</summary>
    <div class="c-details__content">
      <p>あいうえお</p>

      <ul>
        <li><a href="/">リンク要素</a></li>
      </ul>
    </div>
  </details>

  <p class="c-container">
    <a id="anchor-btn" class="c-btn" href={`${root}#body`}>
      <span class="c-btn__label">ボタン</span>
      <svg width="12" height="12" class="c-icon" aria-hidden="true"><use xlink:href={`#i-angle-right`}></use></svg>
    </a>
  </p>

  <div class="c-flex-wrap c-container">
    <div class="c-flex c-flex--y25_ L:c-flex--y0 M:c-flex--x15 L:c-flex--x50">
      <div class="u-w-full M:u-w-4/12">
        <div class="u-bg-gray u-h-50 u-w-full"></div>
      </div>
      <div class="u-w-full M:u-w-4/12">
        <div class="u-bg-theme-base u-h-50 u-w-full"></div>
      </div>
      <div class="u-w-full M:u-w-4/12">
        <div class="u-bg-theme-sub u-h-50 u-w-full"></div>
      </div>
    </div>
  </div>
</Layout>
